@import "../../../styles/mixins.scss";

#document-page-view {
    .document-page-view {
        &-side-bar-wrapper {
            min-height: 1000px;

            @media (max-width: 768px) {
                min-height: unset;
            }
        }

        &-side-bar {
            position: sticky;
            top: 18%;
            width: 100%;
            margin-top: 20px;

            ul {
                padding-left: unset;
                margin: unset;
                list-style: none;
                background-color: #f8f8f8;
                border-radius: 10px;
                box-shadow: 0 8px 15px rgba(218, 220, 237, 0.5);
                overflow: hidden;

                li {
                    cursor: pointer;
                    padding-left: 10px;
                    border-bottom: 2px solid #eee;

                    p {
                        transition: 0.25s;
                        padding: 10px 8px;
                        margin: unset;
                        color: #545454;

                        @media (max-width: 1367px) {
                            font-size: 14px;
                        }
                    }

                    &.active,
                    &:hover {
                        background-color: #D2EBFF;
                        border-color: #D2EBFF;

                        p {
                            color: var(--primaryColor);
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        &-item {
            display: flex;
            align-items: flex-start;
            padding: 20px;
            border-bottom: 1px solid #eee;

            @media (max-width: 768px) {
                display: unset;
            }

            &-image {
                img {
                    width: 320px;
                    max-height: 250px;
                }

                @media (max-width: 768px) {
                    img {
                        width: 100% !important;
                    }
                }
            }

            &-content {
                margin-left: 20px;

                @media (max-width: 768px) {
                    margin-left: unset;
                }
            }

            &-title {
                margin-top: unset;
            }

            &-desc {
                @include ellipsis-text();
                min-height: 96px;

                @media (max-width: 768px) {
                    min-height: 20px;
                }
            }
        }

        &-body {
            &-title {
                margin-top: 20px;
                font-size: 30px;
                font-weight: 600;
                padding-bottom: 10px;
            }

            ul {
                li {
                    cursor: pointer;

                    &:hover {
                        color: var(--primaryColor);
                        text-decoration: underline;
                    }
                }
            }
        }

        &-pagination {
            padding-top: 20px;
            text-align: center;
        }
    }
}