NEXT_PUBLIC_ENDPOINT=http://localhost:3001
NEXT_PUBLIC_API_ENDPOINT=http://localhost:3001
NEXT_PUBLIC_API_ENDPOINT_UPLOAD=http://localhost:3001
NEXT_PUBLIC_TOKEN=dev-token
NEXT_PUBLIC_SAMESITE=false
NEXT_PUBLIC_APP_NAME=WebHSV
NEXT_PUBLIC_MODE=light-mode
